.post {
  padding: 2rem;
  margin: 0 auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.link {
  position: absolute;
  top: 0;
  left: -30%;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 75px;
  padding: 0.25rem;
  background-color: rgb(33, 38, 45);
  border: 1px solid;
  border-color: rgba(240, 246, 252, 0.1);
  border-radius: 4px;
}

.postContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  text-transform: capitalize;
}

.title,
.text {
  text-align: center;
}

.postComments {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}